name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Present Working DIR
      run: pwd
    - name: Publishing library
      run: curl --location --request POST 'http://asif-oaxg.localhost.run/api/myfiles/' -H 'ContentType=multipart/form-data' --form 'title=hello' --form 'file=@/home/runner/work/ci_demo/ci_demo/build/lib/ci_demo-1.0.0.jar'
      # run: ls -lah
